@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 48px 0;
}
nav h2{
    font-size: 2.8rem;
    font-weight: 700;
}
nav ul{
    display: flex;
    align-items: center;
}
nav ul li{
    list-style: none;
    margin-left: 40px;
}
/* dark 01 */
.txt-dark01{
    color: #131313;
}

/* dark 02 */
.txt-dark02{
    color: #424242;
}

/* dark 03 */
.txt-dark03{
    color: #727272;
}

.bg-light{
    background: rgba(255, 144, 14, 0.1);
}
nav ul li a{
    text-decoration: none;
    font-weight: 500;
}
nav, .banner{
    max-width: 1440px;
    margin: 0 auto;
}
.banner{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.banner-content{
    max-width: 862px;
    margin: 0 auto;
    text-align: center;
}
.banner-content h1{
    font-size: 4rem;
    font-weight: 700;
}
.banner-content .banner-description{
    font-size: 1rem;
    line-height: 26px;
    padding: 20px 0;
}
.primary-btn{
    font-size: 1.25rem;
    font-weight: 600;
    background-color: #FF900E;
    color: rgba(255, 255, 255, 1);
    padding: 21px 25px;
    border-radius: 8px;
    border: none;
    margin-bottom: 50px;
}
.banner-img{
    width: 100%;
    padding-bottom: 45px;
}
section {
    max-width: 1440px;
    margin: 0 auto;
}

.features-cotainer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 85px;
}
.features-img {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}
.features-content{
    margin-left: 100px;
    max-width: 530px;
}

.features-content h4 {
    font-size: 2.8rem;
    font-weight: 500;
}
.features-content #of-our{
    color: #131313;
    font-weight: 700;
}
.features-content #features{
    color: #FF900E;
    font-weight: 700;
}
.features-txt{
    font-size: 1rem;
    font-weight: 400;
    line-height: 26px;
    margin: 24px 0;
}
.features-you-container {
    margin-top: 130px;
    display: flex;
    gap: 140px;
}

.features-you-content h3 {
    border-left: 5px solid #FF900E;
    padding-left: 20px;
    font-size: 2.8rem;
    font-weight: 700;
    margin-bottom: 20px;
}
.features-you-content P{
    font-size: 1rem;
    margin-bottom: 20px;
}

.features-you-content .content-box{
    box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.06);
    margin-bottom: 20px;
    padding: 30px;
    border-radius: 8px;
}
.features-you-content .content-box h5{
    font-size: 1.25rem;
    font-weight: 600;
    border-radius: 8px;
    margin-bottom: 10px;
}
.features-you-content .content-box p{
    font-size: 1rem;
    font-weight: 400;
    line-height: 26px;
}
.experience-badge{
    padding: 45px 42px;
    font-size: 1.5rem;
    font-weight: 500;
    border-radius: 8px;
    background: #FF900E;
    border: none;
    color: white;
    margin-top: -60%;
    margin-left: -10%;
}
.experience-year{
    font-size: 4rem;
    font-weight: 700;
}
.some-facts {
    padding: 100px 0 20px 20px;
    max-width: 1440px;
    margin: 0 auto;
}

.Facts{
    font-size: 2.8rem;

}
.some-facts .fact-txt{
    font-size: 1rem;
    line-height: 26px;
    margin-top: 24px;
}
.card-container{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.card-container .card{
    text-align: center;
    border: 2px solid #FF900E;
    border-radius: 8px;
    padding: 40px 36px;
    margin: 100px 0;
}
.card h2{
    font-size: 2.5rem;
    margin: 5px;
    color: #424242;
    font-weight: 700;
}
.card .Award {
    font-size: 1.25rem;
    font-weight: 700;
    color: #727272;

}
.sponspors{
    text-align: center;
}
.sponspors h2{
    font-size: 2.8rem;
}
.sponspors p{
    font-size: 1rem;
    color: #424242;
    margin: 24px 0 50px;
}
.sponspors-logo {
    display: flex;
    justify-content: space-between;
}
.logo {

    filter: grayscale(100%);
}
footer{
    text-align: center;
    padding: 40px;
    margin: 130px auto;
    max-width: 1440px;
    color: #424242;
    background: rgba(255, 244, 231, 1);
    border-radius: 8px;
}

/* responsive media query */
@media screen and (max-width: 576px){
    nav h2{
        font-size: 1.5rem;
    }
    nav {
        margin: 0 10px;
        flex-direction: column;
    }
    nav ul li{
        margin: 16px;
    }
    .features-cotainer {
        flex-direction: column;
    }
    .features-img {
        grid-template-columns: repeat(1, 1fr);
    }
    .features-content {
        margin:20px 40px;
    }
}

/* For Medium Device */

@media screen  and (min-width: 576px) and (max-width:992px){
    nav, .banner{
    width: 100%;
    padding: 0;
    overflow-x: hidden;
    margin: 0 auto;
    }
    .features-img{
        grid-template-columns: repeat(1, 1fr);
    }
    .features-content {
        margin: 20px auto;
    }
    .features-cotainer {
        flex-direction: column;
    }
    
}